@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "nord";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(26% 0.079 36.259);
    --color-base-200: oklch(40% 0.123 38.172);
    --color-base-300: oklch(47% 0.157 37.304);
    --color-base-content: oklch(95% 0.038 75.164);
    --color-primary: oklch(70% 0.165 254.624);
    --color-primary-content: oklch(28% 0.091 267.935);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(55% 0.195 38.402);
    --color-neutral-content: oklch(98% 0.016 73.684);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}


@plugin "daisyui/theme" {
    name: "lightner";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.002 247.839);
    --color-base-200: oklch(96% 0.003 264.542);
    --color-base-300: oklch(92% 0.006 264.531);
    --color-base-content: oklch(21% 0.034 264.665);
    --color-primary: oklch(65% 0.241 354.308);
    --color-primary-content: oklch(97% 0.014 343.198);
    --color-secondary: oklch(58% 0.233 277.117);
    --color-secondary-content: oklch(96% 0.018 272.314);
    --color-accent: oklch(76% 0.188 70.08);
    --color-accent-content: oklch(98% 0.022 95.277);
    --color-neutral: oklch(44% 0.03 256.802);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(59% 0.145 163.225);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0rem;
    --radius-field: 1rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}



@plugin "daisyui/theme" {
    name: "imperial";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(55% 0.046 257.417);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(76% 0.188 70.08);
    --color-secondary-content: oklch(98% 0.022 95.277);
    --color-accent: oklch(76% 0.188 70.08);
    --color-accent-content: oklch(98% 0.022 95.277);
    --color-neutral: oklch(12% 0.042 264.695);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(76% 0.233 130.85);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}


@plugin "daisyui/theme" {
    name: "nordLight";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.016 73.684);
    --color-base-200: oklch(95% 0.038 75.164);
    --color-base-300: oklch(90% 0.076 70.697);
    --color-base-content: oklch(40% 0.123 38.172);
    --color-primary: oklch(0% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(64% 0.2 131.684);
    --color-secondary-content: oklch(98% 0.031 120.757);
    --color-accent: oklch(68% 0.162 75.834);
    --color-accent-content: oklch(98% 0.026 102.212);
    --color-neutral: oklch(55% 0.195 38.402);
    --color-neutral-content: oklch(98% 0.016 73.684);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(64% 0.2 131.684);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(59% 0.249 0.584);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}


@plugin "daisyui/theme" {
    name: "roundedLilac";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(96% 0.016 293.756);
    --color-base-200: oklch(94% 0.029 294.588);
    --color-base-300: oklch(89% 0.057 293.283);
    --color-base-content: oklch(38% 0.189 293.745);
    --color-primary: oklch(70% 0.213 47.604);
    --color-primary-content: oklch(98% 0.016 73.684);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(97% 0.014 343.198);
    --color-accent: oklch(70% 0.14 182.503);
    --color-accent-content: oklch(98% 0.014 180.72);
    --color-neutral: oklch(54% 0.281 293.009);
    --color-neutral-content: oklch(96% 0.016 293.756);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(70% 0.14 182.503);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
